### ### ### angular.gitignore ### ### ###
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/angular/unbound/dist
/angular/unbound/tmp
/angular/unbound/out-tsc
# Only exists if Bazel was run
/angular/unbound/bazel-out

# dependencies
/angular/unbound/node_modules

# profiling files
angular/unbound/chrome-profiler-events*.json
angular/unbound/speed-measure-plugin*.json

# IDEs and editors
/angular/unbound/**/.idea
angular/unbound/**/.project
angular/unbound/**/.classpath
angular/unbound/**/.c9/
angular/unbound/*.launch
angular/unbound/**/.settings/
angular/unbound/*.sublime-workspace

# IDE - VSCode
angular/unbound/**/.vscode/*
!angular/unbound/**/.vscode/settings.json
!angular/unbound/**/.vscode/tasks.json
!angular/unbound/**/.vscode/launch.json
!angular/unbound/**/.vscode/extensions.json
angular/unbound/**/.history/*

# misc
/angular/unbound/**/.sass-cache
/angular/unbound/connect.lock
/angular/unbound/coverage
/angular/unbound/libpeerconnection.log
angular/unbound/npm-debug.log
angular/unbound/yarn-error.log
angular/unbound/testem.log
/angular/unbound/typings

# System Files
angular/unbound/**/.DS_Store
angular/unbound/Thumbs.db



### ### ### spring.gitignore ### ### ###
### Eclipse ###
spring/.metadata

HELP.md
spring/unbound/target/
!spring/unbound/**/.mvn/wrapper/maven-wrapper.jar
!spring/unbound/**/src/main/**/target/
!spring/unbound/**/src/test/**/target/

### STS ###
spring/unbound/**/.apt_generated
spring/unbound/**/.classpath
spring/unbound/**/.factorypath
spring/unbound/**/.project
spring/unbound/**/.settings
spring/unbound/**/.springBeans
spring/unbound/**/.sts4-cache

### IntelliJ IDEA ###
spring/unbound/**/.idea
spring/unbound/*.iws
spring/unbound/*.iml
spring/unbound/*.ipr

### NetBeans ###
/spring/unbound/nbproject/private/
/spring/unbound/nbbuild/
/spring/unbound/dist/
/spring/unbound/nbdist/
/spring/unbound/**/.nb-gradle/
spring/unbound/build/
!spring/unbound/**/src/main/**/build/
!spring/unbound/**/src/test/**/build/

### VS Code ###
spring/unbound/**/.vscode/
